/*======================================================================*\
|| ******************************************************************** ||
|| # # # # #            E_mail : Info@open-cart.ir            # # # # # ||
|| # # # # #          Our Website : www.open-cart.ir          # # # # # ||
|| # # # # #      		Persian By open-cart.ir			      # # # # # ||
|| ******************************************************************** ||
\*======================================================================*/
.pavcol-sm-5 {
    float: right;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    width: 20% !important;
}